body {
    font-family:'Poppins';
    font-weight:bold;
    font-size:50px;
    color:#EAC1B2;
    padding:100px;
    justify-content: center;
}

#navbar, #title {
    font-family:'Poppins';
    font-size:30px;
  }
  
  header { 
    display:flex;
      flex-direction:row;
    justify-content:space-between;
    padding-bottom:60px;
  
  }
#petition {
    display:flex;
    flex-direction:row;
    padding-top:100px;
    margin-right:-30px;
}
  
  ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  
  li {
      margin-top: -30px;	
  }
